<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

<div class="principal-p">

    <div class="boxImage-p">
        <h1 class="quienes-somos">¿Quienes Somos?</h1>
        <br>
        <p>Estamos en todo el país con los mejores productos y soluciones digitales que elijas.
          Con mas de diez años en el mercado de insumos, contamos con una gran experiencia en ventas, asesoramiento y financiacion.
          Porque entendemos tu negocio, desarrollamos herramientas para impulsar, potenciar y consolidar tus operaciones diarias. Aumentá tus ventas, contá con más recursos financieros y soluciones para ser más ágil. 
          ¿Querés conocer nuestra propuesta? Contactate hoy con un representante de Barba Negra insumos, y enterate sobre envios medios de pago y asesoramiento profesional.
        </p>
        <a href="#" class="btn-au">Read More <i class="fas fa-angle-double-right"> </i> </a>
    </div>

    <div class="cartas-au">
        <div>
          <img src="/images/static/usEnvio-seguro1.jpg" alt="" />
          <h3> Llegamos donde estes</h3>
          <p>
          Brindamos el respaldo logístico que necesitan nuestros clientes para su proceso de distribución, con unidades de transporte acordes al tipo de operación y adaptadas a la modalidad de gestión de cada solicitud.            
          </p>
          <!-- <a href="#" class="btn-au">Learn More <i class="fas fa-angle-double-right"></i></a> -->
        </div>
        <div>
          <img src="/images/static/usPlantel-2.jfif" alt="" />
          <h3>Nuestra planta</h3>
          <p>
            Desde que iniciamos en este mundo nuestra empresa logro asentar el trabajo de nuestro personal.
            Logrando expandirnos y abarcar toda la argentina con nuestros productos y centros de distribución
          </p>
          <!-- <a href="#" class="btn-au">Learn More <i class="fas fa-angle-double-right"></i></a> -->
        </div>
        <div>
          <img src="/images/static/usVenta-3.jpg" alt="" />
          <h3>Ventas</h3>
          <p>
            El personal cuenta con gran experiencia en el mercado, planifica ,coordina y arma un plan de 
            pagos acorde a cada necesidad sumando a la calidad de los productos la atencion personalizada y confiable que brindamos.
          </p>
          <!-- <a href="#" class="btn-au">Learn More <i class="fas fa-angle-double-right"></i></a> -->
        </div>
        <div>
          <img src="/images/static/usCliente-4.jfif" alt="" />
          <h3>¿Que birndamos ?</h3>
          <p>
            Otordamos seguridad en su compra , los mejores precios y trabajamos primeras marcas 
            asegurandonos de cumplir con las espectativas de los compradores 
            garantizando facilidades para su comercio y por supuesto el bienestar de sus clientes.
            
          </p>
          <!-- <a href="#" class="btn-au">Learn More <i class="fas fa-angle-double-right"></i></a> -->
        </div>
      </div>


      <section class="banner1-au">
          <div class="content-au">
            <h2>Lorem, ipsum dolor.</h2>
            <!-- lorem 20 -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat maxime facilis quasi alias illo, fugiat
              cupiditate porro dolores tenetur delectus!</p>
            <a href="#" class="btn-au">Learn More<i class="fas fa-chevron-right"></i></a>

          </div>
      </section>


      <!-- Follow 
    <section class="social">
        <p>Follow TechNews</p>
        <div class="links">
          <a href="https://facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://linkdin.com">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </section>
    </div>-->



</div>

</body>

<%- include('./partials/scripts') %>
<%- include('./partials/footer') %>

</html>