<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    
</head>
<body>

    <div>

    <footer>

    <div class="container-footer-all">

        <div class="container-body">

            <div class="column1">
                <h1>Sobre nosotros</h1>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, ipsam! Veritatis, reprehenderit. Ducimus commodi enim sint, obcaecati numquam aliquam cumque reiciendis? Officia temporibus magni delectus cum saepe pariatur nesciunt itaque!</p>
            </div>

            <div class="column2">
                <h1>Contactos</h1>
                <div class="row2">
                    <img src="images/correo-electronico.png">
                    <label>email: barbanegra@outlook.com</label>
                </div>
                <div class="row2">
                    <img src="images/receptor-de-telefono.png">
                    <label>Telefono: 4699-7042</label>
                </div>
                <div class="row2">
                    <img src="images/whatsapp.png">
                    <label>whatsapp: +54 01132873559</label>
                </div>
                <div class="row2">
                    <img src="images/home.png">
                    <label>Lunes a Viernes de 9 a 13 y de 14 a 18hs

                        (Excepto días de fiesta)Hable con nosotros</label>
                </div>
            </div>

            <div class="column3">
                <h1>Redes sociales</h1>

                <div class="rowicon">

                <div class="row">
                    <img src="images/facebook.png">
                </div>

                <div class="row">
                    <img src="images/twitter.png">
                </div>

                <div class="row">
                    <img src="images/instagram.png">
                    
                </div>

                <div class="row">
                    <img src="images/google-mas.png">
                    
                </div>

            </div>

            </div>

            <div class="column4">

                <h1>Ayuda</h1>
                <ul class="lista">
                    <li>Mi Cuenta</li>
                    <li>Mis pedidos</li>
                    <li>Entregas</li>
                    <li>¿Este sitio es seguro?</li>
                    <li>Cambios y devoluciones</li>
                </ul>
            </div>

        </div>


    </div>

    <div class="container-footer">
        <div class="footer">

        <div class="copyright">
            Wahl Argentina S.R.L - CUIT 30-70765598-0
Precios exclusivos y condiciones de pago para compras a través de Internet.
    </div>

        </div>
    </div>
    </footer>
</body>
</html>