<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>       
        <div class="menu-header-main">
            <div class='search'>
             <input class='search-input' type='text' name='' placeholder='Busqueda...'>
                <a class='search-btn' href='#'><i class='fa fa-search'></i></a>
         </div>
    
        <div class="logo1"><a href="/"><img src="images/logo.png" alt=""></a></div>
        <div class="logo2"><a href="/"><img src="/images/logocompleto.png" alt=""></a></div>
        <nav class="nav-main">
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active1" href="/">Home</a></li>
                <li><a href="/detalleProducto">Maquinas</a></li>
                <li><a href="/detalleProducto">Equipamiento</a></li>
                <li><a href="/detalleProducto">Repuestos</a></li>
                <li><a href="/loginRegistro">Registro</a></li>
            </ul>
    
        </nav>
        </div>
    </header>

    <!-- ===================== -->
    <main>
        
    </main>
</body>
</html>