<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Inicie sesión | Registro</title>
  <link rel="stylesheet" href="stylesheets/loginRegistro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body class ="body-login">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- <header>
    <div class='search'>
        <input class='search-input' type='text' name='' placeholder='Busqueda...'>
        <a class='search-btn' href='#'><i class='fa fa-search'></i></a>
    </div>
    <div class="menu-header-main">
        <nav class="nav-main">
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active1" href="/">Home</a></li>
                <li><a href="/detalleProducto">Maquinas</a></li>
                <li><a href="/detalleProducto">Equipamiento</a></li>
                <li><a href="/detalleProducto">Repuestos</a></li>
                <li><a href="/loginRegistro">Registro</a></li>
            </ul>

        </nav>
    </div>
    <div class="logo1"><img src="images/logo.png" alt=""></div>
    <div class="logo2"><img src="/images/logocompleto.png" alt=""></div>


</header> -->
<!-- <nav class="shop-car">
    <input type="checkbox" id="show-car">
    <label class="label1" for="show-car"><i class="fas fa-cart-plus"></i></i></label>
    <div class="item1">
        <article>
            <img src="/images/wahl-senior.jpeg" alt="Cortadora de pelos profesional">
            <h5>WAHL SENIOR CORDLESS SERIE 5 STAR + ACCESORIOS</h5>

            <form action="items-amount" class="items-amount">
                <input type="text" value="$8500" class="value"> -->
                <!-- use type button por que, si no recargaba la pagina y se iba el carrito -->
               <!--  <input type="button" value="-"> -->
                <!--  lograr interaccion de formularios agregar o quitar -->
                <!-- <input type="number" name="name" id="number" min=0>
                <input type="reset" value="+">
            </form>
        </article>
        <hr>
        <div class="send-package">
            <form action="">
                <input type="text" name="cp" id="cp" placeholder="Ingrese CP">
                <input type="button" value="Calcular">
                <input type="reset" value="Cambiar CP">
            </form>
        </div>
        <hr>
        <div class="sum-total">
            <h1>TOTAL</h1>
            <h1>$8500</h1>

        </div>
        <hr>
        <div class="car-botton">
            <a href="/car" class="go-car">Ver carrito</a>
            <a href="#" class="pay">PAGAR</a>
        </div>
    </div>
</nav>
</header> -->

<div class="login-container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Registrarse</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>usa tu correo para registrarte</span>
                <input type="text" placeholder="Nombre" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Iniciar Sesión</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>Usar tu cuenta</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button>Iniciar sesión</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Unite a la comunidad BarberShop con un solo paso</h1>
                    <p>Comencemos</p>
                    <button class="ghost" id="signIn">Iniciar Sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Cada amigo nuevo es una nueva aventura</h1>
                    <p>Conectémonos</p>
                    <button class="ghost" id="signUp">Registro</button>
                </div>
            </div>
        </div>
    </div>

<!-- partial -->
  <script  src="javascript/script.js"></script>

</body>
</html>
