<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main>
        <!--  Checkout payment -->
        <div class="desk-container">

            <div class="main-form container grid grid-cols-2 auto-rows-auto gap-2 p-2 ">
                <div class="shop-cart-main col-span-2 text-center border-2 rounded-lg border-black bg-indigo-200">
                    <div class="shop-mobile cart grid grid-cols-2">
                        <div class="shop-main-text col-span-2 my-10">
                            <h1 class="border-3 rounded-lg border-black mx-8 bg-gray-100">Resumen de compra</h1>
                        </div>
                        <div class="shop-resumen  col-span-2">
                            <div class="shop-resumen-1 grid grid-cols-2 items-center">
                                <div class="shopping-img  mx-auto h-auto w-30 p-2 grid-rows-2">
                                    <img src="/images/productos/maquina2-1.jpeg" alt="">
                                </div>
                                <div class="shop-detail-img mx-auto grid grid-cols-3 gap-2 ">

                                    <h1 class="text-sm col-span-3">Wahl 5 Star Senior Cordless 8504-400 negra 220V</h1>
                                    <div class="shop-detail-1 col-span-3">
                                        <h1 class="text-xs font-black col-span-3">1 x $8500</h1>
                                        <div class="shop-detail-cp-form grid grid-cols-3">
                                            <h1 class="text-xs text-green-900 col-span-3">recibilo mañana sin cargo!
                                            </h1>
                                            <label for="codigopostal"> <i
                                                    class="fas fa-truck-moving text-green-900  bh-transparent"></i></label>
                                            <input class="col-span-2" type="text" id="codigopostal" placeholder="CP"
                                                maxlength="4" required="required">
                                            <a href="#"
                                                class="cursor-pointer bg-gray-700 hover:bg-gray-600 shadow-xl inline-block text-blue-100 hover:text-white rounded col-span-3">Calcular</a>
                                        </div>
                                    </div>
                                    <div class="shop-buttons col-span-2 flex items-center justify-around">
                                        <div class="shop-button-1">
                                            <button
                                                class="bg-green-400 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 rounded-full w-full h-auto p-1 text-sm ">
                                                agregar
                                            </button>
                                        </div>
                                        <div class="shop-button-2">
                                            <button
                                                class="bg-green-400 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 rounded-full w-full h-auto p-1 m text-sm ">
                                                quitar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-detailt-discount col-span-2 gap-1">
                                <div class="bg-transparent px-2">
                                    <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
                                        <div class="md:flex">
                                            <div class="w-full p-3 ">
                                                <div class="relative bg-transparent"> <input type="text"
                                                        class="bg-white h-14 w-full px-4 pr-20 rounded-md focus:outline-none hover:cursor-pointer"
                                                        name=""> <button
                                                        class="h-10 rounded bg-black absolute top-2 text-sm right-2 px-3 text-white hover:bg-gray-900 ">Ingresa
                                                        Cupon</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="shop-import-detail col-span-2 ">
                            <div class="shop-import-subtotal bg-grey-300 grid grid-cols-2 grid-rows-2">
                                <div class="shop-import-1">
                                    <h1>Total productos</h1>
                                </div>
                                <div class="shop-import-2">
                                    <h1>$8500</h1>
                                </div>
                                <div class="shop-import-3">
                                    <h1>Gastos de envio</h1>
                                </div>
                                <div class="shop-import-4">
                                    <h1>Gratis!</h1>
                                </div>
                            </div>
                        </div>
                        <div class="shop-import-total col-span-2 grid grid-cols-2 grid-rows-2 ">
                            <div class="shop-import-total-1">
                                <h1>Total</h1>
                            </div>
                            <div class="shop-import-total-2">
                                <h1>$8500</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--                     <div class="row2-checkout col-span-2">
                        <div class="col-75">
                            <div class="container-form-master">
                                <form action="">
                                    <div class="row2-checkout">
                                        <div class="col-50">
                                            <h3>Ingrese su direccion</h3>
                                            <label for="name"><i class="fa fa-user"></i>Nombre completo</label>
                                            <input type="text" id="fname" name="firstname" placeholder="Ricardo Fort">
                                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                            <input type="text" id="email" name="email"
                                                placeholder="ricardofort@maiameee.usa">
                                            <label for="adr"><i class="fa fa-address-card-o"></i>Direccion</label>
                                            <input type="text" id="adr" name="address" placeholder="Miami bulevard 123">
                                            <label for="city"><i class="fa fa-institution"></i> Ciudad</label>
                                            <input type="text" id="city" name="city" placeholder="Nordelta">

                                            <div class="row2-checkout">
                                                <div class="col-50">
                                                    <label for="state">Provincia</label>
                                                    <input type="text" id="state" name="state" placeholder="BA">
                                                </div>
                                                <div class="col-50">
                                                    <label for="zip">Codig postal</label>
                                                    <input type="text" id="zip" name="zip" placeholder="5539">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-50">
                                            <h3>Forma de pago</h3>
                                            <label for="name">Tarjetas de credito</label>
                                            <div class="icon-container">
                                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                                            </div>
                                            <label for="cname">Nombre titular</label>
                                            <input type="text" id="cname" name="cardname" placeholder="Ricardo fort">
                                            <label for="ccnum">Numero de tarjeta</label>
                                            <input type="text" id="ccnum" name="cardnumber"
                                                placeholder="1111-2222-3333-4444">
                                            <label for="expmonth">Exp Month</label>
                                            <input type="text" id="expmonth" name="expmonth" placeholder="September">

                                            <div class="row2-checkout">
                                                <div class="col-50">
                                                    <label for="expyear">Fecha de expiración</label>
                                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                                </div>
                                                <div class="col-50">
                                                    <label for="cvv">CVV</label>
                                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <label>
                                        <input type="checkbox" checked="checked" name="sameadr"> Enviar seguimiento por
                                        email
                                    </label>
                                    <input type="submit" value="Finalizar Compra" class="submit-btn">
                                </form>
                            </div>
                        </div>
                    </div> -->
                    

        </div>

    </main>
    <%- include('./partials/footer') %>

</body>

</html>