<footer>
    <div class="main-content-d">
        <div class="left-d box-d">
            <h2>Sobre nosotros</h2>
            <div class="content-d">
                <p>Somos una empresa dedicada a la venta de productos de barbería y peluquería. Nos destacamos de
                    otros, ya que tenemos una opción ÚNICA de poder recibirlo en menos de ¡48 HORAS!</p>

            </div>
        </div>

        <div class="center-d box-d">
            <h2>Contacto</h2>
            <div class="content-d">
                <div class="place-d">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Av. Siempreviva 1234</span>
                </div>
                <div class="phone-d">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">011-4444444</span>
                </div>
                <div class="whatsapp-d">
                    <span class="fab fa-whatsapp"></span>
                    <span class="text">+54 011-1555555</span>
                </div>
                <div class="email-d">
                    <span class="fas fa-envelope"></span>
                    <span class="text">barbanegra@live.com</span>
                </div>
                <div class="social-d">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-google-plus-g"></span></a>
                </div>

            </div>
        </div>

        <div class="right-d box-d text-black">
            <h2>¿Tenés alguna consulta?</h2>
            <div class="content-d">
                <form action="https://formspree.io/f/mwkajbvj" method="POST" id='formularioo'>
                    <div class="email-footer text-white">
                        <label for="name">Nombre Completo
                            <span>

                        </span>
                    </label>
                    <br>
                        <input class = "text-black" name="name" required type="text" id="name" placeholder="Tu nombre">
                        <div class="text">Email </div>
                        <input class= "text-black" type="email" name="email" required placeholder="tu@correo.com">
                    </div>
                    <div class="msg">
                        <div class="text text-white">Mensaje </div>
                        <textarea cols="25" rows="2" name="message"></textarea>
                    </div>
                    <div class="btn-d">
                        <button class="btn-dd" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="copyrightText ">
        <p class="h-10 inline">Copyright © 2021 Barba Negra. Todos los derechos reservados.</p>
    </div>
   <script src="/javascript/footer.js"></script>

</footer>