.header-mobile{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  /*   background-image: url(/images/frame2.png); */
   background-image:url(../images/frame2.png) ;
    background-color:grey ;
    width: 100%;
}
.header-mobile .logo-mobile img{
    height: 90px;
    width: 90px;
}
.header-mobile .barra-desplegable button{
    background-color: transparent;
    border:none;
    margin-top: 45px;
    height: 25px;
    width: 35px;
}
.header-mobile .barra-desplegable i{
    color:white;
   font-size: 18px;
    
}
.header-mobile .barra-desplegable .info-clickeable{
    display:none
}