/* 
#011528
#08354F
#FFFEFE
   #1B5185
 #92C1E9
    #5B13B9
#7D2AE8
#5A0B90 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none; /* estas 2 controlar */
    text-decoration: none;
}

.sidebar-adm{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #1B5185;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand-adm{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #FFFEFE;
}

.sidebar-brand-adm span{
    display: inline-block;
    padding-left: 1rem;
}

.sidebar-menu-adm{
    margin-top: 1rem;
}
.sidebar-menu-adm li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu-adm a{
    padding-left: 1rem;
    display: block;
    color: #FFFEFE;
    font-size: 1.1rem;
}

.sidebar-menu-adm a.active{
    background: #FFFEFE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #1B5185;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu-adm a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle-adm:checked+.sidebar-adm{
    width: 70px;
}

#nav-toggle-adm:checked+.sidebar-adm .sidebar-brand-adm,
#nav-toggle-adm:checked+.sidebar-adm li{
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle-adm:checked+.sidebar-adm li a{
    padding-left: 0rem;
}

#nav-toggle-adm:checked+.sidebar-adm .sidebar-brand-adm h2 span:last-child,
#nav-toggle-adm:checked+.sidebar-adm li a span:last-child{
    display: none;
}

#nav-toggle-adm:checked~.main-content-adm{
    margin-left: 70px;
}

#nav-toggle-adm:checked~.main-content-adm header{
width: calc(100% - 70px);
left: 70px;
}

.main-content-adm{
    transition: margin-left 300ms;
    margin-left: 345px;
}

header{
    background: #FFFEFE;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle-adm{
    display: none;
}

header h2{
    color: #08354F
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper-adm{
    border: 1px solid #FFFEFE;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}