 *{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins" , sans-serif;
    background: linear-gradient(135deg, #1B5185, #011528);
    }

.main-container-master{
    color: #FFFF;
    display: grid;
    grid-column: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.all{
    display: flex;
    justify-content: space-evenly
}

.container-algomas {
    margin: 25px 10px;
    width: 400px;
    padding: 10px;
    height: 470px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider-p{
    position: relative;
    width: 400px;
    height: 400px;
}

ul.slider-p li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
    border-radius: 60px;
    animation-duration: 6.5s;
    transition: all 600ms;
}


ul.slider-p li img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center center;
    border-radius: 60px;
}


ul.slider-p li:first-child{
    opacity: 1;
}


ul.slider-p li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

table td {
    border: 3px solid white;
    border-radius: 10px;
    text-decoration-style: double;
    width: 800px;
    height: 70px;
    list-style-type: disc;
    background-color: #001428;
    color: white;
    font-family: "Poppins" , sans-serif;
}

.fil2 {
    padding: 0 42px;
}

.fil1{
    text-align: center;
}

table{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
}

td.fil1{
    width: 150px;
}

table tr :hover{
    background: #294153;
}

/* menu del slider con numero*/ 
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}*/
 .menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.product-block{
    display: flex;
    margin: 25px 10px;
    min-width: 300px;
    max-width: 800px;
}

.product-block, h2 ,p{
    padding-bottom: 40px;
    padding-top: 3px;
    width: 400px;
}

.product-info{
    max-width: 50%;
}

.colum2{
    max-width: 50%;
}

.btna{
    display: inline-block;
    background: purple;
    color: var(--white);
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btnc{
    display: inline-block;
    background: purple;
    color: var(--white);
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.caracteristicas h2{
    font-family: "Poppins" , sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}
.caracteristicas p{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.caracteristicas{
    display: flex;
    justify-content: center;
}

.inf{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}*/

hr{
    width: 400px;
    color: white;    
}

.inf section{
    display: flex;
    justify-content: space-between;

}
.section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px
}

section p{
    font-weight: 500;
    margin-bottom: 15px;
}

section #sec1{
    margin: 20px;
    border-radius: 20px;
    padding: 0 40px;
    align-items: center;
}

section img #sec1{
    width: 400px;
    height: 300px;
    margin: 60px 40px;
    opacity: 1;
    border-radius: 100px;
}

section #sec1 a{
    display: inline-block;
    padding: 7px 0;
    color: white;
    text-decoration: none;
    width: 110px;
    text-align: center;
    border: 1px solid purple;
    border-radius: 50px;
    background-color: purple;
    font-family: "Poppins" , sans-serif;
}

section sec4{
    height: 310px;
}

section:nth-child(1){
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
section:nth-child(2){
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
section:nth-child(3){
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
section:nth-child(4){
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}


@media screen and (max-width: 1100px) {
    .container-body{
        flex-wrap: wrap;
    }}


    footer {
    width: 100%;
    background-color: #001428;
    color: #ffffff;
    font-family: "Poppins" , sans-serif;
    flex-wrap: wrap;
    bottom: 0;
}

.container-footer-all{
    width: 100%;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

conlumn p{
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.column1 {
    max-width: 400px;
    min-width: 300px;
    padding: 25px;


}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
    min-width: 300px;
    padding: 25px;
}

.column2 h1{
    font-size: 22px;
}


.row{
    display: flex;
}

.rowicon{
    column-count: 2;
    align-content: space-between;
    
}

.row img{
    width: 36px;
    height: 36px;

}

.row label{
    margin-top: 5px;
    margin-left: 20px;
}

.column3{
    max-width: 400px;
    min-width: 300px;
    padding: 25px;
}

.column3 h1{
    font-size: 22px;
    display: flex;

}

.column4 h1{
    font-size: 22px;
}

.column4 {
    max-width: 400px;
    min-width: 300px;
    padding: 25px;
}

.lista {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.row2 img {
    width: 25px;
    height: 25px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    color: #c7c7c7;
    text-decoration: none;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}

@media screen and (max-width: 1300px) {
   .container-body{
       flex-wrap: wrap;
   }

   .column1{
       max-width: 100%;
   }

   .column2,
   .column3
   .column4{
       margin-top: 40px;
   }
}