/* Por alguna extrania razon, no logre hacer andar las rutas con ""
Si elijo la ruta sin las comillas funciona.  */




@import url(/stylesheets/_header.css);
@import url(/stylesheets/_product-car.css);
@import url(/public/stylesheets/footer.css);

/* ================================================================= */
/* @import url(/stylesheets/loginRegistro.css); */ 
/* al igual que el css del home y del product.
El footer lo arregle, anda bien importado. */
/* si importo el login se rompe todo. las clases se nos re pisaron */









/* MAIN */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}