<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('./partials/head') %> 
<body>
  <%- include('./partials/headerAdmin') %> 
    <main class="container">
        <div class="p-3 text-end">
          <a class="btn btn-secondary" href="/admin/agregarProducto">AGREGAR</a>
        </div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <th scope="col" class="column-mobile">Descuento</th>
                <th scope="col" class="column-mobile">Categoría</th>
                <th scope="col" class="column-mobile">Descripción</th>
                <th scope="col">Imágenes</th>
                <th scope="col">ABM</th>
              </tr>
            </thead>
            <tbody>
                
               <tr>
                    <th scope="row">1</th>
                    <td>Senior Cordless</td>
                    <td>WAHL</td>
                    <td>$21500</td>
                    <td>25%</td>
                    <td>Máquinas</td>
                    <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad.</td>
                    <td><img src="/images/productos/maquina2-1.jpeg" alt="">
                        <img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                        <td>
                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                              <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                            </label>
                            <label class="btn btn-secondary">
                              <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                            </label>
                          </div>
                        </td>
                </tr>
              <tr>
                <th scope="row">2</th>
                <td>Wahl Detailer Cordless</td>
                <td>WAHL</td>
                <td>$10999</td>
                <td>40%</td>
                <td>Máquinas</td>
                <td>Trimmer Profesional inalámbrico fabricado en Estados Unidos. Liviano y ergonómico, provee al profesional de balance y control perfectos para un trabajo de la más alta calidad. Las Cuchillas en T que se ajustan al corte 0' son ideales para un trabajo preciso y detalles perfectos. Las Máquinas Wahl, diseñadas con los más altos estándares de calidad, proporcionan la seguridad de una alta performance, sin objeciones.</td>
                <td><img src="/images/productos/trimmer1-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr>
              <tr>
                <th scope="row">3</th>
                <td>Wahl Shaver Finale</td>
                <td>WAHL</td>
                <td>$15.999</td>
                <td>35%</td>
                <td>Máquinas</td>
                <td>Su utilización es sencilla, gracias a su uso con o sin cable. La batería de litio de última generación permite 80 minutos de autonomía tras 120 minutos de carga.Además, sus hojas son hipoalergénicas doradas, para que afeitarte no sea sinónimo de irritación.</td>
                <td><img src="/images/productos/shaver1-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Tijera Jay 2 6"</td>
                <td>JAGUAR</td>
                <td>$2500</td>
                <td>50%</td>
                <td>Accesorios</td>
                <td>La Tijera Filo Navaja JAY2 6''se amolda bien a la mano. Ideal para un trabajo cómodo, relajado por su forma ergonómica. Apropiada para todas las técnicas de corte y de capear, filos afilado, suave acción de corte.</td>
                <td><img src="/images/productos/tij_jay2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>

            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr> 
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr> 
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr> 
            <tr>
                <th scope="row">1</th>
                <td>Senior Cordless</td>
                <td>WAHL</td>
                <td>$21500</td>
                <td>25%</td>
                <td>Máquinas</td>
                <td>La nueva Cortapelos Wahl Senior Cordless cuenta con la última tecnologia en baterías de litio de larga duración sin efecto memoria generando una velocidad alta de cuchilla con un torque mayor que recortará incluso el cabello más grueso con facilidad</td>
                <td><img src="/images/productos/maquina2-1.jpeg" alt=""></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Editar
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar
                    </label>
                  </div>
                </td>
            </tr> 
            </tbody>
          </table>
      </main>
</body>

</html>