<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/headerAdmin.ejs')  %> 
    <main class="container">
        <h3 class="text-center">Agregar producto</h3>
        <div class="container col-md-4">
            <form class="row g-3" action="agregarProducto" method="POST">
                <!--Agregar nombre-->
                <div class="col-12">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName" name="nombre">
                </div>
                <!--Agregar Marca-->
                <div class="col-12">
                    <label for="inputMarca" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="inputBrand" name="direccion">
                </div>
                <!--Agregar precio-->
                <div class="col-12">
                    <label for="inputPrice" class="form-label">Precio</label>
                    <input type="price" class="form-control" id="inputPrice" name="precio">
                </div>
                <!--Agregar descripción-->
                <div class="col-12">
                    <label for="inputDescription" class="form-label">Descripción</label>
                    <input type="description" class="form-control" id="inputDescription" name="descripción">
                </div>
                <!--Agregar descuento-->
                <div class="col-12">
                    <label for="inputDiscount" class="form-label">Descuento</label>
                    <input type="discount" class="form-control" id="inputDiscount" name="descuento">
                </div>
                <!--Agregar categoría-->
                <div class="col-12">
                    <label for="inputCategory" class="form-label">Categoría</label>
                    <input type="category" class="form-control" id="inputCategory" name="category">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">AGREGAR</button>
                </div>
            </form>
        </div>
    </main>
   
    <%- include('../partials/scripts.ejs')  %> 
</body>
</html>