<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/headerAdmin.ejs')  %> 
    <div class="containerEdit">
      <div class="titleSearch">
        <h1>Editar o eliminar producto</h1>
        <div class="searchContainer">
          <input type="search" name="buscador" id="search" placeholder="Buscar" />
          <a href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>

      <div class="cardProduct">
        <div class="image">
          <img src="" alt=""/>
        </div>

        <div class="description">
          <p>Senior Cordless</p>
          <p>Marca: Wahl</p>
          <p>Precio: $21.500</p>
          <p>Descuento: 25% </p>
        </div>

        <div class="containerBtns">
          <a href="#">Editar</a>
          <form action="">
            <button type="submit">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>