<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <!-- Font Awesome -->
    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
        <!-- Slick slider -->
    
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    
        <!-- Stylesheets -->
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
       
    
        <title>Barba Negra</title>
    
    
    </head>
<body>
    <div class="contGral">
    <!-- HEADER -->
    <%- include('./partials/header') %> 
    <main>
        <!-- HOME -->
        <!-- Slider -->
        <div class="slider">
            <ul>
                <li><img src="/images/banner/banner.jpg" alt=""></li>
                <li><img src="/images/banner/banner2.jpg" alt=""></li>
                <li><img src="/images/banner/banner3.jpg" alt=""></li>
                <li><img src="/images/banner/banner4.jpg" alt=""></li>
                <li><img src="/images/banner/banner5.jpg" alt=""></li>
                <li><img src="/images/banner/banner6.jpg" alt=""></li>
                <li><img src="/images/banner/banner7.jpg" alt=""></li>
                <li><img src="/images/banner/banner8.jpg" alt=""></li>
                <li><img src="/images/banner/banner9.jpg" alt=""></li>
            </ul>
        </div>       


        <!-- Our offers -->
        <div class="sectionTitle">
            <h3>NUESTRAS OFERTAS</h3>
        </div>


        <section class="cards">

            <article class="card card--1">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">25% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="/detalleProducto" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/maquina2-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Wahl</span>
                    <h3 class="card__by">SENIOR CORDLESS</h3>
                    <span class="card__by">$25.999
                        <i class="fas fa-truck"></i>
                        <a href="/cart" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>


                    </span>
                </div>
            </article>

            <article class="card card--2">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">40% OFF</span>
                    </div>
                </div>
                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/trimmer1-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Wahl</span>
                    <h3 class="card__by">DETAILER CORDLESS</h3>
                    <span class="card__by">$10.999
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>


            <article class="card card--3">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">35% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/shaver1-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Wahl</span>
                    <h3 class="card__by">SHAVER FINALE</h3>
                    <span class="card__by">$15.999
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>


            <article class="card card--4">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">50% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img class="w-full h-auto" src="/images/productos/tij_jay2-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Jaguar</span>
                    <h3 class="card__by">TIJERA JAY2 6"</h3>
                    <span class="card__by">$2.500
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>
                </div>
            </article>


            <article class="card card--5">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">25% OFF</span>
                    </div>
                </div>
                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/combo1-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">BabyLissPRO</span>
                    <h3 class="card__by">TRIMMER+ CLIPPER ROSÉ</h3>
                    <span class="card__by">$35.000
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>



            <article class="card card--6">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">30% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/sillon1-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">TeknikStyle</span>
                    <h3 class="card__by">SILLÓN CHESTER NEGRO</h3>
                    <span class="card__by">$110.000
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>



            <article class="card card--7">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">40% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/lubricanteBL.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Wahl</span>
                    <h3 class="card__by">LUBRICANTE</h3>
                    <span class="card__by">$3.000
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>
                    </span>
                </div>
            </article>



            <article class="card card--8">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">15% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/repuesto.5.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">Wahl</span>
                    <h3 class="card__by">CABEZAL SHAVER FINALE</h3>
                    <span class="card__by">$4.999
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>



            <article class="card card--9">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">25% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/lavacabeza4-1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">TeknikStyle</span>
                    <h3 class="card__by">LAVACABEZA PREMIER</h3>
                    <span class="card__by">$125.000
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>



            <article class="card card--10">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">35% OFF</span>
                    </div>

                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/secador1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">BabyLissPRO</span>
                    <h3 class="card__by">SECADOR VOLARE</h3>
                    <span class="card__by">$25.999
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>



            <article class="card card--11">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">50% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/peines1-2.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">BabyLissPRO</span>
                    <h3 class="card__by">SET x 6 PEINES</h3>
                    <span class="card__by">$1.999
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>

            <article class="card card--12">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount">40% OFF</span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="#" class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/supercombo1.jpeg" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand">TeknikStyle</span>
                    <h3 class="card__by">COMBO SILLÓN + LAVACABEZA</h3>
                    <span class="card__by">$25.000
                        <i class="fas fa-truck"></i>
                        <a href="" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>

                    </span>
                </div>
            </article>


        </section>

        <!-- Our offers end -->



        <!-- Popular brands-->

        <div class="popular-brands">
            <div class="text-center brand-header">
                <h3>TRABAJAMOS CON LAS MEJORES MARCAS</h3>
            </div>

            <div class="brands-grid">
                <img src="/images/LOGOS/logowahl.jpeg" alt="">
                <img src="/images/LOGOS/logots.jpeg" alt="">
                <img src="/images/LOGOS/logoBaby.jpeg" alt="">
            </div>
        </div>

        <!-- Popular brand end -->

    

    <!-- HOME END -->

    <!-- FOOTER -->
    <%- include('./partials/footer') %> 
</main>
</div>
</body>

</html>