<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %> 
<body>
  <%- include('../partials/headerAdmin') %> 
<main>
  <h1>Bienvenido al admin</h1>
</main>
</body>

</html>