/* Por alguna extrania razon, no logre hacer andar las rutas con ""
Si elijo la ruta sin las comillas funciona.  */



@import url(/stylesheets/home.css);
@import url(/stylesheets/_header.css);
@import url(/stylesheets/_product-car.css);
@import url(/stylesheets/footer.css);
@import url(/stylesheets/detalleProducto.css);
@import url(/stylesheets/loginRegistro.css);
@import url(/stylesheets/userProfile2.css);
@import url(/stylesheets/admin.css);
@import url(/stylesheets/aboutUs.css);


/* ================================================================= */
/*@import url(/stylesheets/loginRegistro.css);*/
/* si importo el login se rompe todo. las clases se nos re pisaron */









/* MAIN */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}