.ucontainer-fluid{
  margin-top: 100px;
}
button .user-btn-warning,
button .user-btn-success{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}


@media screen and (min-width: 768px) {
  .form-ad-input input {
    height: 2.5rem;
  }
}